#billingField, #shippingField, #contactDetails, #checkoutButtons, #noAccountReferral, #noAccountDOB {
  width: 47.5%;
}

#billingField {
  float: left;
  margin-bottom: 2%;
}

#shippingField {
  float: right;
  margin-bottom: 2%;
}

#contactDetails {
  float: left;
}

#noAccountReferral {
  float: right;
}
#noAccountDOB {
  float: right;
} 

#checkoutButtons {
  float: right;
  margin-top: 3.5%;
}

#checkoutButton input {
  padding-top: 5px;
}

.alert {
  padding: 0 5px 0 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

input#street-address, input#street-address_shipping, input#email-address, input#email-address_shipping, input#postcode, input#postcode_shipping, input#dob, input#fax {
  width: 243px;
}

select#country, select#country_shipping, select#stateZone, select#stateZone_shipping {
  width: 253px;
}